@using Badge.Web.Models.Shared
@using Badge.Web.Models.Swipes

@model SwipesViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Swipe</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PosPersona" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for=" PosPersona" class="form-control" />
                <span asp-validation-for="PosPersona" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for=" Orario" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for=" Orario" class="form-control" />
                <span asp-validation-for=" Orario" class="text-danger"></span>
            </div>
        </div>

        <input type="hidden" asp-for="NomeBadge" value="@ViewBag.NomeBadge" />

        <input type="hidden" asp-for="MachineName" value="@ViewBag.MachineName" />

        <input type="hidden" asp-for="IdPerson" value="@ViewBag.IdPerson" /> 
        <div class="form-group">
            <div class="center-align">
                <div class="col-md-offset-2 col-md-10">

                    <button type="submit" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create">
                        <i class="material-icons">add_circle_outline</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-area="" asp-controller="Swipes" asp-action="Index" asp-route-peopleid = "@ViewBag.IdPerson">
            <button type="button" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Back to List">
                <i class="material-icons">arrow_back</i>
            </button>
        </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
</script>
}
