@using Badge.Web.Models.Shared
@using Badge.Web.Models.Machines


@model MachinesViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Machine</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Nome" />
        <div class="form-group">
            <label asp-for="IpMachine" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpMachine" class="form-control" />
                <span asp-validation-for="IpMachine" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MacAddress" class="col-md-2 control-label"></label>
            <div class="center-align">
                <input asp-for="MacAddress" class="form-control" />
                <span asp-validation-for="MacAddress" class="text-danger"></span>
            </div>

            <a asp-action="Edit" asp-route-id="@Model.Nome">
                <div class="center-align">
                    <button type="submit" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Save">

                        <i class="large material-icons">save</i>
                    </button>
                </div>
            </a>

        </div>
        <div class="form-group">
            
        </div>
    </div>
</form>
<div>

        <a asp-action="Index">
            <button type="button" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Back to List">
                <i class="material-icons">arrow_back</i>
            </button>
        </a>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
}
